@page "/AgregarFuncionario"
@rendermode InteractiveServer

@using ControlSalidas.Shared.Models
@using ControlSalidas.Shared.Request;
@inject HttpClient Http

<h3>Agregar Funcionario</h3>

<PageTitle>Agregar funcionario</PageTitle>

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <InputText class="form-control"
                   @bind-Value="nuevoFuncionario.Nombre" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cargo</label>
        <InputText class="form-control"
                   @bind-Value="nuevoFuncionario.Cargo" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cédula</label>
        <InputText class="form-control"
                   @bind-Value="nuevoFuncionario.Ci" />
    </div>

    @foreach (var horario in Horarios)
    {
        <div class="mb-3 border p-2">

            <InputCheckbox @bind-Value="horario.Seleccionado" />

            <label>@ObtenerNombreDia(horario.DiaSemana)</label>

            @if (horario.Seleccionado)
            {
                <div>

                    <label>Horario de entrada</label>

                    <input type="time" @bind="horario.HoraEntrada" />

                    <label>Horario de salida</label>

                    <input type="time" @bind="horario.HoraSalida" />
                </div>
            }

        </div>
    }

<div class="mb-3">
    <label class="form-label">Valor por pernocte</label>

    <InputNumber class="form-control"
                 @bind-Value="nuevoFuncionario.ValorPernocte" />
</div>
    
    <button class="btn btn-primary"
            @onclick="AgregarFuncionarioWeb">
        Agregar
    </button>

    <hr />

    @if (funcionarios == null)
    {
        <p>No hay funcionarios registrados...</p>
    }
    else
    {
        <h4>Funcionarios registrados</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Pernocte</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in funcionarios)
                {
                    <tr>
                        <td>@f.Id</td>
                        <td>@f.Nombre</td>
                        <td>@f.Ci</td>
                        <td>$ @f.ValorPernocte</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    


@code {

    private List<Funcionario>? funcionarios;

    //private Funcionario nuevoFuncionario = new Funcionario();
    private RegistarFuncionarioRequest nuevoFuncionario = new RegistarFuncionarioRequest();

    private List<HorarioViewModel> Horarios = new()
{
    new() { DiaSemana = 1 },
    new() { DiaSemana = 2 },
    new() { DiaSemana = 3 },
    new() { DiaSemana = 4 },
    new() { DiaSemana = 5 },
    new() { DiaSemana = 6 },
    new() { DiaSemana = 0 }
};

    private string ObtenerNombreDia(int dia)
    {
        return dia switch
        {
            0 => "Domingo",
            1 => "Lunes",
            2 => "Martes",
            3 => "Miércoles",
            4 => "Jueves",
            5 => "Viernes",
            6 => "Sábado",
            _ => ""
        };
    }



    private async Task AgregarFuncionarioWeb()
    {
        nuevoFuncionario.Horarios = Horarios
            .Where(h => h.Seleccionado)
            .Select(h => new HorarioLaboral
            {
                DiaSemana = (DayOfWeek)h.DiaSemana,
                HoraEntrada = h.HoraEntrada.ToTimeSpan(),
                HoraSalida = h.HoraSalida.ToTimeSpan()
            })
            .ToList();

        var response = await Http.PostAsJsonAsync(
            "api/Funcionarios/Agregar_funcionarios",
            nuevoFuncionario);

        Console.WriteLine($"Status: {response.StatusCode}");

        var contenido = await response.Content.ReadAsStringAsync();
        Console.WriteLine(contenido);

        if (response.IsSuccessStatusCode)
        {
            funcionarios = await Http.GetFromJsonAsync<List<Funcionario>>(
                "api/Funcionarios/Obtener_Funcionarios");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        funcionarios = await Http.GetFromJsonAsync<List<Funcionario>>(
            "api/Funcionarios/Obtener_Funcionarios");
    }


}