@page "/HistorialSalidas"

@using ControlSalidas.Web.Models
@inject HttpClient Http
<h3>HistorialSalidas</h3>

<PageTitle>Historial de salidas</PageTitle>

@if (salidaFuncionarios == null)
{
    <p>Cargando...</p>
}
else
{
    <table class="table">

        <thead>
            <tr>
                <th>Fecha de salida</th>
                <th>Fecha de llegada</th>
                <th>Funcionarios</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var s in salidas)
            {
                <tr>
                    <td>@s.FechaSalida</td>
                    <td>@s.FechaLlegada</td>

                    <td>
                        @string.Join(", ",
                        funcionarios
                        .Where(f => s.IdFuncionarios.Contains(f.id))
                        .Select(f => f.nombre))
                    </td>
                    <td>
                        @if (s.Estado == "En curso")
                        {
                            <span class="badge bg-success">@s.Estado</span>
                            }
                                else if (s.Estado == "Finalizado")
                            {
                                <span class="badge bg-secondary">@s.Estado</span>
                            }
                            else if (s.Estado == "Para salir")
                            {
                                <span class="badge bg-primary">@s.Estado</span>
                            }
                    </td>
                </tr>
            }
        </tbody>

        @* <thead>
            <tr>
                <th>ID</th>
                <th>Salida ID</th>
                <th>Funcionario ID</th>
                <th>Nombre funcionario</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var f in salidaFuncionarios)
            {

                <tr>
                    <td>@f.id</td>
                    <td>@f.salidaId</td>
                    <td>@f.funcionario?.id</td>
                    <td>@f.funcionario?.nombre</td>
                </tr>
                

            }
        </tbody> *@
    </table>
}

@code {
    List<SalidaFuncionario>? salidaFuncionarios;
    List<Salida>? salidas;
    List<Funcionario> funcionarios;

    protected override async Task OnInitializedAsync()
    {
        salidaFuncionarios = await Http.GetFromJsonAsync<List<SalidaFuncionario>>(
            "api/Funcionarios/Obtener_Salidas_Funcionarios");
        salidas = await Http.GetFromJsonAsync<List<Salida>>(
            "api/Funcionarios/Obtener_Salidas");
        funcionarios = await Http.GetFromJsonAsync<List<Funcionario>>(
            "api/Funcionarios/Obtener_Funcionarios");
    }
}



@* @code {

    List<SalidaFuncionario>? salidaFuncionarios;

    protected override async Task OnInitializedAsync()
    {
        salidaFuncionarios = await Http.GetFromJsonAsync<List<SalidaFuncionario>>(
            "api/Funcionarios/Obtener_Salida_Funcionario");
    }
}
 *@