@page "/"

@using ControlSalidas.Web.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h3>Funcionarios</h3>

@if (funcionarios == null)
{
    <p>Cargando...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Noches</th>
                <th>Días fuera</th>
                <th>Cantidad de salidas</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var f in funcionarios)
            {
                <tr>
                    <td>@f.id</td>
                    <td>@f.nombre</td>
                    <td>@f.noches</td>
                    <td>@f.diasFuera</td>
                    <th>@f.cantidadSalidas</th>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Salidas</h3>

@if (salidas == null)
{
    <p>Cargando...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Fecha de salida</th>
                <th>Fecha de llegada</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var s in salidas)
            {
                <tr>
                    <td>@s.FechaSalida</td>
                    <td>@s.FechaLlegada</td>
                    <td>
                        @if (s.Estado == "En curso")
                        {
                            <span class="badge bg-success">@s.Estado</span>
                        }
                        else if (s.Estado == "Finalizado")
                        {
                            <span class="badge bg-secondary">@s.Estado</span>
                        }
                        else if (s.Estado == "Para salir")
                        {
                            <span class="badge bg-primary">@s.Estado</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    List<Funcionario>? funcionarios;
    List<Salida>? salidas;
    List<SalidaFuncionario>? salidaFuncionarios;

    protected override async Task OnInitializedAsync()
    {
        funcionarios = await Http.GetFromJsonAsync<List<Funcionario>>(
            "api/Funcionarios/Obtener_funcionarios");

        salidas = await Http.GetFromJsonAsync<List<Salida>>(
            "api/Funcionarios/Obtener_salidas");

        salidaFuncionarios = await Http.GetFromJsonAsync<List<SalidaFuncionario>>(
            "api/Funcionarios/Obtener_salidas");
    }
}
